<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goldprice - Página Inicial</title>
    <!-- Caminho correto para o arquivo CSS -->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <h1>Bem-vindo ao Goldprice</h1>
    <nav>
        <ul>
            <li><a href="/upload">Upload de Dados</a></li>
            <li><a href="/visualize">Visualização e Análise</a></li>
            <li><a href="/predict">Previsão</a></li>
        </ul>
    </nav>
    <!-- Rodapé simples -->
    <footer>
        &copy; 2024 Goldprice - Todos os direitos reservados.
    </footer>
</body>
</html>